body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.proposition1 {
  background-color: chartreuse;
  color: black;
  width: 250;
}


.proposition2 {
  background-color: darkblue;
  color: coral;
  width: 250;
}

.fact-box {
  border-radius: 10px;
  border: 2px solid #8888ff;
  padding: 10px;
  font-size: xx-small;
  margin: 10px;
  text-align: justify;
}

.belief-box {
  border-radius: 10px;
  border: 2px solid #dd2222;
  padding: 10px;
  font-size: xx-small;
  margin: 10px;
  text-align: justify;
}

.goal-box {
  border-radius: 10px;
  border: 2px solid #20aaaa;
  padding: 10px;
  font-size: xx-small;
  margin: 10px;
  text-align: justify;
}

.section-label {
  font-variant-caps: 'small-caps';
  text-align: center;
}